.job{
   &-list{
    position: relative;
    padding: 0;
    margin: 0;
   }
   &-item{
    overflow: hidden;
    position: relative;
    float: none;
    min-height: 1px;
    padding: 10px;
    width: 18.5%;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
    min-height: 255px;
    padding: 10px 10px 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #FFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    .media{
        &-left{
            img{
                width: 42%!important;
                height: auto;
                min-width: 65px;
                height: auto;
                max-height: 125px;
                border-radius: 4px;
            }
        }
   }
}
.media{
    margin-top: 15px;
    &-body{
        overflow: hidden;
        zoom: 1;
        display: table-cell;
        vertical-align: top;
    }
    &-left{
        display: table-cell;
        vertical-align: top;
    }
    &-right{
        display: table-cell;
        vertical-align: top;
    }
}
.short-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.nom {
    margin: 0!important;
}

.ts18 {
    font-size: 18px;
}
.lh1-4 {
    line-height: 1.4;
}
.tb {
    font-weight: 600;
}
.tc1 {
    color: #193661!important;
}
p {
    margin: 0 0 10px;
}
.ts12 {
    font-size: 12px;
}
.lh1-4 {
    line-height: 1.4;
}
.tb {
    font-weight: 600;
}
.tc3 {
    color: #E6053C!important;
}
figure {
    margin: 0;
}